{% extends 'base.html' %}
<title>
    {% block title %}
    Change Password
    {% endblock %}
</title>
{% block body %}
<style>
    .pass {
        width: 50%;
        margin: auto;
    }
</style>
<div class="alert alert-info text-center text-black" role="alert">
   Change Password
  </div>
<form method="POST" novalidate>
    <div class="pass">
        {% for fm in form %}


        {{fm.label_tag}}

        {{fm}}
        {{fm.errors}} <br>

        {% endfor %}


        <input type="submit" class="btn btn-success m-1" value="changepass">
        <a class="btn btn-info text-light" href="{% url 'profile'  %}"> Back</a>
    </div>
</form>


{% endblock %}